body{
    background-color: #F2F1E8;
    margin: auto;
}

.about_nav_bar{
background-color:#FFFFFF;
margin: auto;


}
.about_nav{
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    align-content: space-between;
    padding: 15px;
}
.about_nav a{
    color:#2B2F26;
    margin-right: 70px;

    
}
#about_vase{
    height: 30px;
    width: 30px;
    position: absolute;
    left: 10px;
}
main{
    width:55%;
    margin: auto;
}
img {
    height: 200px;
    width: 200px;
}
.about_header h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    text-shadow: 1px 2px 8px black;
}
.sect_one{
    font-family:'Merriweather', serif; 
    font-weight: normal;
}
.sect_one p{
    line-height: 30px;
    
    
    
}
.sect_one img{
    position: relative;
    float: left;
    height: 100px;
    width: 140px;
    padding: 15px;
    

}

.header_layer {
    background-image: url("images/optimized/background-3.jpg");
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    height: 400px;
    width: 900px;
    padding-right: 25em;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    margin:0px -17em;
}
.header_layer h1{
    position: relative;
    top: 200px;
    left: 210px;
    font-size: 90px;
    font-weight: normal;
    text-shadow: 1px 2px 8px black;
}
.about_aside{
    border-left: 1px solid #968772;
   padding-left: 15px;
   color:gray;
   font-size: 18px;
}
.history h3{
    color: #131511;
    font-weight:lighter;
    font-size: 27px;
    font-family: 'Merriweather', serif;
    text-shadow: 1px 2px 8px black;

}
.history p{
    line-height: 30px;
    font-family: 'Merriweather', serif;
}
.about_text{
    display:flex;
    justify-content: space-between;
}
.about_text p{
    line-height: 30px;
    font-size: 17px;
    font-weight: lighter;
    font-family: 'Merriweather', serif;
}
#aside_pic{
    margin-left: 20px;
    width: 120px;
    height: 100px;
}
.pic_layout{
    align-items: flex-end;
    padding-left: 10px;
}
.about_text aside{
    color: gray;
    font-size: 11.5px;
    line-height: 20px;
    margin-left: 15px;
}
#facility{
    font-family: 'Merriweather', serif;
    font-size: 25px;
}
#facility h3{
    font-weight: lighter;
    text-shadow: 1px 2px 8px black;
}
.about_table table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
#desk_only{
    background-color: #F3EBDB;
}
#unlimited{
    background-color: #F3EBDB;
}
#Monthly h3{
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 1px 2px 8px black;
}
footer p{
    background-color: #2B2F26;
    height: 40px;
    padding: 10px;
    color: white;
    font-family: 'Merriweather', serif;
    text-align: left;
}
.about_table{
    padding-bottom: 25px;
  
}
.sect_one a{
  color:  #968772;
}